* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  transition: 0.3s;
}

body.light {
  background: #f0f0f0;
  color: #333;
}

.app {
  background: #111;
  width: 400px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

body.light .app {
  background: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

#themeToggle {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.filters button.active {
  background: #667eea;
  color: white;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  background: #222;
}

body.light li {
  background: #eee;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  color: white;
}

body.light .modal-content {
  background: white;
  color: black;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.modal-actions {
  display: flex;
  gap: 10px;
}

.modal-actions button {
  flex: 1;
}

.stats {
  text-align: center;
  margin-top: 10px;
}
